# C build stuff
**/build
**build/**
**/*.out
**/*.o
**/*.so

# Python stuff
**/*.env
**/*.venv
**/*.ruff_cache
**/__pycache__
**/__marimo__

# File and data stuff
**/**.db**
**/*.DS_Store
**/*.json
**/*.pkl
